// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

:root {
    --bs-body-font-family: 'Open Sans', sans-serif;
}

$body-bg-color: #0E1414;
$text-color: #6E7272;
$alpha-red-color: #CF1430;

#main { 
    opacity: 0;
    transition: opacity ease 1.5s;
}

body {
    box-sizing: content-box;
    background-color: $body-bg-color;
    color: white;
    margin: 0;
    padding: 0;
}

p {
    color: $text-color;
}

.slogan { color: $gray-100; }

.hr {
    height: 1px;
    color: white;
    background-color: white;
}

.title {
    color: $alpha-red-color;

    @include media-breakpoint-down(md) {
    }
}

.card {
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: white;

    img { cursor: pointer; }

    .red-underline {
        background-color: $alpha-red-color;
        height: 4px;
        display: block;
    }

    .card-link {
        color: white;
        text-decoration: none;
        width: 95px;
        display: inline-block;
        

        &:hover {
            -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	            animation: heartbeat 1.5s ease-in-out infinite both;
            color: yellow;
        }

        .red-underline {
            height: 1px;
            margin-top: 4px;
        }
    }
}

.retina-image { display: none; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    
    .retina-image {
      display: inline-block;
    }

    .normal-image {
      display: none;
    }
}


// preloader
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 90%);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity ease 2s;

    .spinner {
        border: 5px solid rgba(255, 255, 255, 0.1);
        border-top: 5px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50%;
        transition: opacity ease 2s;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Landscape */
@media screen 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    img { width: 100%; }
}

.bg-pan-tr {
    &:hover {
        -webkit-animation: scale-up-center .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    &:not(:hover) {
        -webkit-animation: scale-down .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-down .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
}

@-webkit-keyframes scale-down {
    0% {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes scale-down {
    0% {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
  
  

// heartbeat
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  


